Pillow

# pygame
hg+http://bitbucket.org/pygame/pygame

PyOpenGL
pyserial
python-gnupg

# python-xlib
svn+https://svn.code.sf.net/p/python-xlib/code/trunk/
# PyUserInput
git+https://github.com/SavinaRoja/PyUserInput

PyYAML==
